@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
  background:rgba(230, 230, 233, 0.192);
  border-radius: 5rem;
  margin-top: 10px;
  padding: 5%, 5%, 5%, 5%;
}

h1 {
	color: #f0ae2f;
	font-size: 32px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
}

h3 {
  text-align: right;
  font-size: 42px;
  color:white;
}

p {
  border: solid #f0ae2f 1px;
  border-radius: 3rem;
  margin: auto;
  padding: 3%;
}

body {
background: image_url('prism.png');
color: #f0ae2f;
font-family: 'Roboto', sans-serif;
}

.booyah-box {
	-webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background: image_url('prism.png');
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  color:white;
}

.booyah-box h1 {
  float: left;
}