<% @products.each do |product| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= product.item %></h1>
    <h3><%=product.rating %> stars</h3>
    <p><%= product.description %></p>
  </div>
  <br>
<% end %>